@import 'mixins';
@import 'variables';

.excel__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  padding: 8px 4px 0;
  display: flex;
  justify-content: space-between;

  & .input {
    margin: 0;
    padding: 2px 7px;
    min-width: 1px;
    color: #000;
    border: 1px solid transparent;
    outline: none;
    border-radius: 2px;
    height: 24px;
    font-size: 18px;
    line-height: 22px;
    &:hover {
      border: 1px solid $gray-color;
    }
    &:focus {
      border: 1px solid $blue-border;
  }
  }
  .button {
    @include button()
  }
}

